**/.DS_Store
**/.vs
**/*.filters
**/*.suo
**/*.userosscache
**/.env*.local
**/.env
**/*.exe
**/[Bb]uild
**/[Dd]ebug
**/[Rr]elease
**/[Oo]bject
**/[Oo]bj
**/[Bb]inary
**/[Bn]in
**/[Xx]86
**/[W]in32
**/[Xx]64
**/[W]in64
**/[Xx]86_[Xx]64
**/[Xx]86_64
**/ARM64
**/arm64
**/[Tt]est
**/[Tt]emp
**/[Tt]mp
**/[Dd]raft
**/[Dd]ump
**/VS_Outputs
**/Virtual_Game_Controller
